ol.ordenada li {
  background-color: yellow;
}

ol.ordenada li.par {
  background-color: teal;
}

ol.ordenada li.primo {
  text-transform: uppercase;
}

.header {
  color: red;
}

.italico {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

.azul {
  color: blue;
}

.linguagem :nth-child(2) {
  background-color: pink;
}

.links li a:hover {
  font-style: italic;
}

.links li a.orange:hover {
  color: orange;
}

.links li a.green:hover {
  color: green;
}
.links li a.black:hover {
  color: black;
}
.links li a.yellow:hover {
  color: yellow;
}


/*

 - (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "temática do site"
  Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde).

*/