body{
    font-size: 16px;
    font-style: italic;
    line-height: normal;
    text-align: center;
}

h1 {
    font-size: 64px;
    color: orange;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

ul {
    background-color: palegreen;
}

.fundo {
    background-color: plum;
}

.verde {
    background-color: green;
}

.amarelo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}
